body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #373636);
    color: #fff;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.addButton {
    margin-top: 7px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.deleteButton {
    margin-top: 7px;
    background: #ed0303;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.addButton:hover {
    background: #45a049;
}

.deleteButton:hover {
    background: rgba(237, 3, 3, 0.7);
}


ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

